body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text-limit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
  margin-top: 10px;
}